<link rel="stylesheet" type="text/css" href="/css/editproduct.css">
<body class="login-page sidebar-collapse" onload='loadselect()'>
    <div class="page-header header-filter"
        style="background-image: url('/img/background4.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="card card-login">
                    <form action="/admin/saveEditedQuiz/{{quiz.id}}" method="post">
                        <input type="hidden" name="_method" value="PUT">
                        <h2 class="card-title text-center">Edit Quiz</h2>
                        <div class="card-body">
                            <div class="row" style='margin-left: 260px'>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" style="font-size:24px">not_listed_location</i>
                                            </span>
                                        </div>
                                        <input type="name" id="question" name="question" class="form-control"
                                            value="{{quiz.question}}" placeholder='Enter question'>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">filter_1</i>
                                            </span>
                                        </div>
                                        <input type="text" id="option1" name="option1" class="form-control"
                                            value="{{quiz.option1}}" placeholder='Enter option 1'>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" style="font-size:24px">filter_2</i>
                                            </span>
                                        </div>
                                        <input type="description" id="option2" name="option2" class="form-control"
                                            value="{{quiz.option2}}" placeholder='Enter option 2'>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" style="font-size:24px">filter_3</i>
                                            </span>
                                        </div>
                                        <input type="description" id="option3" name="option3" class="form-control"
                                            value="{{quiz.option3}}" placeholder='Enter option 3'>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons" style="font-size:24px">filter_4</i>
                                            </span>
                                        </div>
                                        <input type="description" id="option4" name="option4" class="form-control"
                                            value="{{quiz.option4}}" placeholder='Enter option 4'>
                                    </div>
                                    <div class="input-group">
                                        <i class="material-icons" style="font-size:24px">thumb_up_alt</i>
                                        <div class="try-select" style="width:200px;" >
                                            <select name="correct" class="form-control" id="exampleFormControlSelect1">
                                                <option id='option 1' value="option 1">option 1</option>
                                                <option id='option 2' value="option 2">option 2</option>
                                                <option id='option 3' value="option 3">option 3</option>
                                                <option id='option 4' value="option 4">option 4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <p id='correct' style='display:none'>{{quiz.correct}}</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="butAddVideo" type="submit" class="btn btn-primary">Save</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function loadselect() {
        var correct = document.getElementById('correct').innerText;
        document.getElementById(correct).selected = "true";
    }
</script>