<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/profile.css">

<div class="container" id='main'>
    <p id='profile'>Profile</p>
    <hr>
    <form action="/user/saveProfile/{{user.id}}?_method=PUT" id="form" method ='post'>
    <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="col-25">
                <label for="name">Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="name" name="name" value={{user.name}}>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email">Email</label>
            </div>
            <div class="col-75">
                <input type="text" id="email" name="email" value={{user.email}}>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="address">Address</label>
            </div>
            <div class="col-75">
                <input type="text" id="address" name="address" value={{user.address}}>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="phone">Phone</label>
            </div>
            <div class="col-75">
                <input type="text" id="phone" name="phone" value={{user.phone}}>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="bankname">Bank Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="bankname" name="bankname" value={{user.banName}}>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="bankno">Bank No</label>
            </div>
            <div class="col-75">
                <input type="text" id="bankno" name="bankno" value={{user.bankNo}}>
            </div>
        </div>
        <div class="row" id="submit">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
</div>