<link rel="stylesheet" type="text/css" href="/css/cart.css">

<p></p>

<div class="shopping-cart">

    <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
    </div>
    {{#each product}}
    <div class="product">
        <div class="product-image">
            <img src="{{images}}">
        </div>
        <div class="product-details">
            <div class="product-title">{{name}}</div>
            <p class="product-description">{{description}}</p>
        </div>
        <div class="product-price">{{price}}</div>
        <div class="product-quantity">
            <input type="number" value="{{quantity}}" min="1">
        </div>
        <div class="product-removal">
            <a href="/removeAdd/{{id}}"
            <button class="remove-product">
                Remove
            </button>
            </a>
        </div>
        <div class="product-line-price">{{price}}</div>
    </div>
    {{/each}}
    <form id="swam" action="/addTotal" method="post">
        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <input name="subTotal" type="hidden" value="{{price}}">
                <div class="totals-value" id="cart-subtotal">{{price}}</div>
            </div>
            <div class="totals-item">
                <label>Shipping</label>
                <input name="shipping" type="hidden" value="5.00">
                <div class="totals-value" id="cart-shipping">5.00</div>
            </div>
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <input name="grandTotal" type="hidden" value="">
                <div class="totals-value" id="cart-total"></div>
            </div>
        </div>
    </form>

    <a href="/checkout1" class="checkout">Checkout</button>

</div>


<script>
    /* Set rates + misc */
    {{!-- var taxRate = 0.05; --}}
    var shippingRate = 5.00;
    var fadeTime = 300;


    /* Assign actions */
    $('.product-quantity input').change(function () {
        updateQuantity(this);
    });

    $('.product-removal button').click(function () {
        removeItem(this);
    });


    /* Recalculate cart */
    function recalculateCart() {
        var subtotal = 0;

        /* Sum up row totals */
        $('.product').each(function () {
            subtotal += parseFloat($(this).children('.product-line-price').text());
        });

        /* Calculate totals */
        {{!-- var tax = subtotal * taxRate; --}}
        var shipping = (subtotal > 0 ? shippingRate : 0);
        var total = subtotal + shipping;

        /* Update totals display */
        $('.totals-value').fadeOut(fadeTime, function () {
            $('#cart-subtotal').html(subtotal.toFixed(2));
            {{!-- $('#cart-tax').html(tax.toFixed(2)); --}}
            $('#cart-shipping').html(shipping.toFixed(2));
            $('#cart-total').html(total.toFixed(2));
            if (total == 0) {
                $('.checkout').fadeOut(fadeTime);
            } else {
                $('.checkout').fadeIn(fadeTime);
            }
            $('.totals-value').fadeIn(fadeTime);
        });
    }


    /* Update quantity */
    function updateQuantity(quantityInput) {
        /* Calculate line price */
        var productRow = $(quantityInput).parent().parent();
        var price = parseFloat(productRow.children('.product-price').text());
        var quantity = $(quantityInput).val();
        var linePrice = price * quantity;

        /* Update line price display and recalc cart totals */
        productRow.children('.product-line-price').each(function () {
            $(this).fadeOut(fadeTime, function () {
                $(this).text(linePrice.toFixed(2));
                recalculateCart();
                $(this).fadeIn(fadeTime);
            });
        });
    }


    /* Remove item from cart */
    function removeItem(removeButton) {
        /* Remove row from DOM and recalc cart total */
        var productRow = $(removeButton).parent().parent();
        productRow.slideUp(fadeTime, function () {
            productRow.remove();
            recalculateCart();
        });
    }
    function myFunction() {
        document.getElementById("swam").submit();
    }
</script>