<head>
    <link rel="stylesheet" type="text/css" href="/css/shopcategory.css">
    <link rel="stylesheet" type="text/css" href="/css/shop.css">
    <style>
        #list {
            z-index=1000px;
        }
           
        .alert-info {
            top: 0;
            position: relative;
            bottom: 56px;
            text-align: center;
        }
    </style>
</head>
{{>_shopnavbar}}
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <div class="navbar-translate">
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/showAll">
                        Show All
                    </a>
                </li>
                {{#each category}}
                <li class="nav-item">
                    <a class="nav-link" href="/category23/{{id}}">
                        {{catName}}
                    </a>
                </li>
                
                {{/each}}
                <li class="dropdown nav-item">
                    <a class="nav-link" href="/cart">
                        <i style="font-size:30px" class="fa">&#xf07a;</i>
                    </a>
                </li>
            </ul>
            <form class="form-inline ml-auto">
                <div class="form-group has-white">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
                    <i class="material-icons">search</i>
                </button>
            </form>
        </div>
    </div>
</nav>
{{>_flashmsg}}
{{#if shop}}
<div class="items">
    {{#if user.isAdmin}}
    {{#each shop}}
    <a id='list' href='/listrating/{{id}}'>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" width="250" height="250" src="{{images}}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{name}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">${{price}}</h6>
                <p class="card-text">{{description}}</p>
                <p><button><a href='addToCart/{{id}}'>Add to Cart</a></button></p>
                <a href="/admin/editproducts/{{id}}" class="card-link">Edit</a>
                <a href="/admin/delete/{{id}}" class="card-link" data-toggle="confirmation"
                    data-title="Confirm delete?">Delete</a>
            </div>
        </div>
    </a>
    {{/each}}
    {{else}}
    {{#each shop}}

    <div class="card" style="width: 20rem;">
        <a id='list' href='/listrating/{{id}}'>Test</a>
        <img class="card-img-top" src="{{images}}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">{{name}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">${{price}}</h6>
            <p class="card-text">{{description}}</p>
            <p><button><a href='addToCart/{{id}}'>Add to Cart</a></button></p>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>
{{else}}
<div class="main">
    <h3>Products will be added soon!!</h3>
</div>
{{/if}}