<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Store ChKOut</title>
    
    <link rel="stylesheet" type="text/css" href="/css/Checkout4.css" />
</head>

<body>
    <p id="Step4"> Step 4: Shipping Address </p>
    <hr id="hr">
    <form action="/Checkout/checkout4" method='POST' >
        <fieldset id="particular">
            <legend>Checkout</legend>

            <p id="Cardtext"> Card type: </p><br>
            <input type="text" id="Card" name="Cardtype" placeholder="Card type" required value="{{CardType}}"/>

            <p id="CardNo"> Card Number: </p><br>
            <input type="text" id="cardnumber" name="CardNumber" placeholder="Enter card number" required value="{{CardNumber}}"/>

            <p id="Expiry"> Expiry date: </p><br>
            <input type="number" id="EXPD" name="EXPD" placeholder="MM" required value="{{EXPD}}"/>

            <input type="number" id="ExpYear" name="EXPYear" placeholder="YYYY" required value="{{EXPYear}}" />
            <br>
            <p id="NameOC"> Name On Card: </p><br>
            <input type="text" id="NameOnCRD" name="NameOnC" placeholder="Enter Name on card" required value="{{NameOnC}}" />

            <p id="Security"> security number: </p><br>
            <input type="number" id="SECNO" name="SECNO" placeholder="Enter security number" required value="{{SECNO}}" />


            <br>



        </fieldset>
        
            <input type="submit" value="continue"> </input>
    </form>
</body>

</html>