<link rel="stylesheet" type="text/css" href="/css/Reciept.css">
<fieldset id="particular"> </fieldset>


<div class="shopping-cart">

    {{#each product}}
        <div class="reciept">
            <div class="reciept-details">
                <div class="reciept-title">{{Nameonc}}</div>
                <p class="reciept-description">{{description}}</p>
            </div>
            <div class="reciept-price">{{price}}</div>
            <div class="reciept-quantity">
                <input type="number" value="{{quantity}}" >
            </div>

            <div class="totals">
            <div class="totals-item">
                <label>total</label>
                <div class="totals-value" id="reciept-total">{{total}}</div>
            </div>
        

    <a href="/shop" class="checkout">shop</button>

</div>


