<link rel="stylesheet" type="text/css" href="/css/quiz css.css">
<!-- Main page -->
<div class="main">
  <!-- Number of Question  -->
  <div class="wrapper" id="pages">
  </div>
  <!--display score-->
  <p id="score">Score: </p>

  <!-- Quiz Question -->
  <div class="quiz-questions" id="display-area">
    <p id="question">{{question}}</p>
    <p id="option">{{option1}}</p>
    <p id="option">{{option2}}</p>
    <p id="option">{{option3}}</p>
    <p id="option">{{option4}}</p>

    <div id="quiz-results">
      <button type="button" name="button" class="submit" id="submit">Submit</button>
    </div>
  </div>

</div>